<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue2.0</title>
    <script type="text/javascript" src="lib/vue.js"></script>
</head>

<body>
    <div id="box">
        <input type="button" value="添加" @click='add'>
        <!-- 2.0中可以添加重复数据 1.0中需要添加track-by才行 2.0中track-by已作废 -->
        <ul>
            <!-- 不定义index的话则在循环中无法使用index
		在1.0 index作为隐式变量会传到循环中 
		且在（val,index）中第一个必须是value值 第二个为下标值 与foreacg原生写法相同-->
            <li v-for="(val,index) in list" :key="index">
                <!-- :key="index"有提升循环性能的功能 1.0中的track-by也有类似作用 -->
                {{index}} {{val}}
            </li>
        </ul>
        <ul>
            <li v-for="(val,key) in listJson">{{key}}:{{val}}</li>
        </ul>
    </div>
</body>
<script type=" text/javascript ">
    new Vue({
        el: '#box',
        data: {
            list: ['width', 'height', 'color'],
            listJson: {
                a: 'apple',
                b: 'banana',
                c: 'cell'
            }
        },
        methods: {
            add() {
                this.list.push('background');
            }
        }
    })
</script>

</html>