*,
html,
body {
    margin: 0;
    padding: 0;
}

html,body,#app,.wrapper{
  width:100%;
  height:100%;
  overflow: hidden;
}
body{
  font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a {
    text-decoration: none;
}
.content{
  background: none repeat scroll 0 0 #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom:30px;
  width: auto;
  padding:0;
  box-sizing: border-box;
  overflow-y: hidden;
}
.el-tree {
    background: #324157;
    color: #bfcbd9;
}

.el-tree-node:focus>.el-tree-node__content,
.el-tree-node__content:hover {
    background: #48576a;
}

.el-tree-node>.el-tree-node__children {
    background: #1f2d3d;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background: #48576a;
}

.el-card__header {
    padding: 5px 20px;
}


/*滚动条 start*/

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #fff;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(144, 145, 146, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(137, 141, 141);
}


.BMap_cpyCtrl{
  display:none;
}
.anchorBL{
  display:none;
}

.mapCover{
  margin: 5px;
  font-size:14px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.mapCover img{
  width: 16px;
  vertical-align: top;
  margin-right: 10px;
}
